<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <h2>Public values</h2>
        <ul class="bg-success">
            <li  ng-repeat="value in vm.publicValues">{{value}}</li>
        </ul>

        <h2>Management values</h2>
        <ul class="bg-success" ng-if="vm.authorized">
            <li ng-repeat="value in vm.managementValues">{{value}}</li>
        </ul>
        <p ng-if="!vm.authorized" class="bg-danger">Not authorized</p>

        <h2>Secret values</h2>
        <ul class="bg-success" ng-if="vm.authorized">
            <li ng-repeat="value in vm.secretValues">{{value}}</li>
        </ul>
        <p ng-if="!vm.authorized" class="bg-danger">Not authorized</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <button class="btn btn-lg btn-primary" type="submit" ng-click="vm.getData()">Get API data</button>
        <button class="btn btn-lg btn-primary" type="submit" ng-click="vm.performLogin()">Sign in</button>
        <button class="btn btn-lg btn-primary" type="submit" ng-click="vm.clearStorage()">Clear storage</button>
    </div>
</div>
