################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Client/Client/bin
/Client/Client/Content
/Client/Client/fonts
/Client/Client/node_modules
/Client/Client/obj/Debug
/Client/Client/Scripts
/Client/packages
/AuthenticationServer/AuthServer/bin/Debug/netcoreapp1.0
/AuthenticationServer/AuthServer/obj
/AuthenticationServer/packages
/Client/API/bin
/Client/API/Content
/Client/API/fonts
/Client/API/obj/Debug
/Client/API/Scripts
/Client/Constants/bin/Debug
/Client/Constants/obj/Debug
/Client/IdentityServerV3/bin
/Client/IdentityServerV3/Certificates/MyKey.pvk
/Client/IdentityServerV3/Certificates/MyKey.pfx
/Client/IdentityServerV3/Certificates/MyKey.cer
/Client/IdentityServerV3/obj/Debug
/Client/Client.MVC/bin
/Client/Client.MVC/obj/Debug
/Client/Client.JS.Implicit/bin
/Client/Client.JS.Implicit/bin
/Client/Client.JS.Implicit/node_modules
/Client/Client.JS.Implicit/obj/Debug
/Client/Client.JS.Implicit/obj/Debug
/Client/Client.JS.Implicit.OpenId/bin/roslyn
/Client/Client.JS.Implicit.OpenId/node_modules
