@model Client.MVC.Models.ValueViewModel

@{
    ViewBag.Title = "Values";
}

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        @if (Model != null && Model.PublicValues != null)
        {
            <h2>Public values</h2>
            <ul class="bg-success">
                @foreach (var item in Model.PublicValues)
                {
                    <li>@item</li>
                }
            </ul>
        }


        @if (Model != null && Model.SecretValues != null)
        {
            <h2>Management values</h2>
            <ul class="bg-success">
                @foreach (var item in Model.SecretValues)
                {
                    <li>@item</li>
                }
            </ul>
        }

        @if (Model != null && Model.ManagementValues != null)
        {
            <h2>Management values</h2>
            <ul class="bg-success">
                @foreach (var item in Model.ManagementValues)
                {
                    <li>@item</li>
                }
            </ul>
        }
    </div>
</div>